.note{
    height: auto;
    margin: 1rem auto;
    width: 80%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--color-gray);
    border-radius: 15px;
}
.note li {
    width: 90%;
}
.completed{
    text-decoration: line-through;
    opacity: .6;
}
.item-check{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    background-image: url("../images/check-icon.png");
    opacity: .2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.checked{
    background-image: url("../images/check-icon.png");
    opacity: 1;
}
.item-delete{
    width: 3rem;
    height: 3rem;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.note:hover .item-delete{
    background-image: url("../images/cancel-icon.png");
}