.todo-list{
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.todo-list::-webkit-scrollbar{
  width: 10px;
  background-color: var(--color-gray);
  border-radius: 10px;
}
.todo-list::-webkit-scrollbar-thumb{
  width: 14px;
  background-color: var(--color-blue);
  border-radius: 10px;
}