.new-task__container {
  width: 40%;
  height: 80vh;
  max-height: 800px;
  background-color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 0 15px -5px gray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.new-task__form {
  text-align: left;
  padding: 5rem;
}
.new-task__container h2 {
  color: hsl(291deg 40% 35%);
  font-size: 4rem;
  margin-bottom: 3rem;
}
.new-task__container p {
  color: hsl(291deg 40% 35%);
  font-weight: 700;
  font-size: 1.5rem;
}
.new-task__container input {
  background-color: rgba(179, 178, 189, 0.219);
  border: none;
  outline: none;
  padding: 1rem 2rem;
  width: 100%;
  margin: 2rem 0;
  border-radius: 10px;
  box-shadow: 0 0 10px -3px gray;
}
.new-task__container button {
  padding: 1.5rem 3rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: hsl(291deg 40% 35%);
  border: none;
  border-radius: 10px;
  outline: none;
}
.new-task__cover {
  width: 60%;
  min-width: 300px;
  height: auto;
  margin: 0 auto;
}