
.search__container{
  background: rgba(255, 255, 255, 0.795);
  width: 50%;
  display: block;
  height: auto;
  margin: 2rem auto;
  border-radius: 15px;
}
.search__container:hover{
  box-shadow: 0 0 15px -5px gray;
}
.search__input{
  width: 80%;
  font-size: 1.8rem;
  height: auto;
  background: transparent;
  padding: 1rem;
  border: none;
  outline: none;
}
.search__icon{
}